:root {
  /* basic foreground and background color of body */
  --md-primary-fg-color: #d49d33;
  --md-primary-bg-color: #fffef6;

  /*footer not working */
  --md-footer-bg-color: #fffef6;
  --md-footer-fg-color: #1e1d1d;

  /*accent not working */
  --md-accent-bg-color: #d49d33;
  --md-accent-fg-color: #1e1d1d;

}








